.four-o-four-image{
    display: block;
    margin: 12rem auto;
}
.four-o-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
    font-size: 2rem;
    margin-bottom: 20rem;
}

.four-o-four-msg a{
    color: #383838;
}